extends layouts/main.pug

block content
  section.agregar-page
    h3 Agregar Producto
    form(method='POST' action='/api/productos/guardar')
      .mb-3
        label.form-label(for='nombre') Nombre
        input.form-control(type='text' name='nombre'  required='')
      .mb-3
        label.form-label(for='descripcion') Descripcion
        input.form-control(type='text' name='descripcion' required='')
      .mb-3
        label.form-label(for='codigo') Codigo
        input.form-control(type='text' name='codigo' required='')
      .mb-3
        label.form-label(for='stock') Stock
        input.form-control(type='text' name='Stock' value="0" required='')
      .mb-3
        label.form-label(for='precio') Precio
        input.form-control(type='text' name='precio' required='')
      .mb-3
        label.form-label(for='foto') Foto
        input.form-control(type='text' name='foto' required='')
      input(type='hidden' name='web' value='true')
      button.btn.btn-primary(type='submit') Guardar
