extends layouts/main.pug

block content
  section.agregar-page
    h3 Agregar Producto
    form(method='POST' action='/api/productos/guardar')
      .mb-3
        label.form-label(for='title') Titulo
        input.form-control(type='text' name='title' aria-describedby='emailHelp' required='')
      .mb-3
        label.form-label(for='price') Precio
        input.form-control(type='text' name='price' required='')
      .mb-3
        label.form-label(for='thumbnail') Thumbnail
        input.form-control(type='text' name='thumbnail' required='')
      input(type='hidden' name='web' value='true')
      button.btn.btn-primary(type='submit') Guardar
