extends layouts/main.pug

block content
  section.product-page
  .mb-4
    h3 Productos
    table.table.table-dark.table-striped
      thead
        tr
          th(scope='col') ID
          th(scope='col') Titulo
          th(scope='col') Precio
          th(scope='col') Thumbnail
      tbody#tableTbody
        if products.length
          each item in products
            tr.product-item
              th(scope='row')=item.id
              td=item.nombre
              td=item.precio
              td
                img(src=item.foto, alt="", srcset="", class="product-img")
        else
          tr
            th(scope='row') No hay productos.
            td
            td
            td
