body {
  background-color: #444;
  color: white;
  min-height: 100vh;
}

.home-page div > ul {
  list-style: none;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #e46f66;
  text-decoration: none;
}

.product-item {
  vertical-align: middle;
}

.product-img {
  width: 40px;
  height: 40px;
}

.chat-box {
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.chat-message {
  margin-right: 10px;
  color: #000;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  min-width: 350px;
  padding-bottom: 5px;
}

.chat-message.bot-message {
  color: #fff;
  background-color: #999;
}

.chat-message .chat-userdata {
  border-bottom: 1px solid #ddd;
  margin: 5px;
}

.chat-message .chat-userdata div {
  padding: 0;
  color: #999;
}

.chat-message.bot-message .chat-userdata div {
  color: #ddd;
}
.chat-message .chat-userdata div:first-child {
  color: #444;
  font-weight: bold;
}

.chat-message .chat-message__text {
  margin: 5px;
}
