extends layouts/main.pug

block content
  section.agregar-page
    h3 Agregar Producto
    form#form-ws
      .mb-3
        label.form-label(for='title') Titulo
        input.form-control(type='text' name='title' id='title-ws' aria-describedby='emailHelp' required='')
      .mb-3
        label.form-label(for='price') Precio
        input.form-control(type='text' name='price' id='price-ws' required='')
      .mb-3
        label.form-label(for='thumbnail') Thumbnail
        input.form-control(type='text' name='thumbnail' id='thumbnail-ws' required='')
      button.btn.btn-primary(type='submit') Guardar

  hr.mt-4.mb-4

  section.product-page
  .mb-4
    h3 Productos
    table.table.table-dark.table-striped
      thead
        tr
          th(scope='col') ID
          th(scope='col') Titulo
          th(scope='col') Precio
          th(scope='col') Thumbnail
      tbody#tableTbody
        if products.length
          each item in products
            tr.product-item
              th(scope='row')=item.id
              td=item.title
              td=item.price
              td
                img(src=item.thumbnail, alt="", srcset="", class="product-img")
        else
          tr
            th(scope='row') No hay productos.
            td
            td
            td


block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/main.js")
