extends layouts/main.pug

block content
  section.home-page.mb-4
    h3.mb-3 Home
    div
      h5 Links:
      ul
        li
          a(href='/productos/vista') Productos
        li
          a(href='/productos/guardar') Agregar Productos
