<section class="home-page">
    <div class="mb-4">
        <h3>Home</h3>
    </div>
    <div>
        <h5>Links:</h5>
        <ul>
            <li>
                <a href="/productos/vista">Productos</a>
            </li>
            <li>
                <a href="/productos/guardar">Agregar Productos</a>
            </li>
        </ul>
    </div>
</section>